$jost: 'Jost', sans-serif;

$dark_grey:  #585452;
$middle_grey: #a89e90;
$light_grey: #faf9f8;
$blue: #50c0ff;
$high_blue: #a8e0ff;
$orange: #fe9800;
$red: #c04000;
$bg_dark: #cdeeff;
$bg_light: #f2f1f0;
$bg_shadow: 0 rem(8) rem(16) rgba(88, 84, 82, 0.2), 
            0 rem(-8) rem(16) rgba(255, 255, 255, 0.75), 
            inset rem(-1) rem(-1) 0 rgba(255, 255, 255, 0.2);

