.calc{

    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        
        &_item{
            @include col();
            @include size(24);
        }
    }

    &_range{
        margin-top: rem(65);
        margin-bottom: rem(53);
        display: flex;
        justify-content: center;
    }

    &_title{
        font-weight: 700;
        letter-spacing: rem(0.4);
        text-transform: uppercase;
    }
    &_price{
        color: $blue;
        font-size: rem(54);
        font-weight: 700;
        text-align: center;
        padding-top: rem(27);
        padding-bottom: rem(20);
    }
    &_link{
        letter-spacing: rem(-0.3);
        text-decoration: underline;
        text-align: center;
        display: block;
    }
}