.cheaper{
    overflow: hidden;
    padding-top: rem(63);
    box-shadow: 0 rem(10) rem(10) #fff;
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        
        &_item{
            @include col(); 
            @include size(24);
            position: relative;
            display: flex;
            justify-content: flex-end;
        }
    }

    .position{
        position: absolute;
        left: 0;
    }

    &_img{
        position: relative;
        margin-top: rem(27);
        right: rem(-36);
        display: block;
        z-index: -1;

        @include above($break_xs) {
            right: 0;
        }
    }
}