.compute{
    overflow: hidden;
    background-color: $bg_dark;
    box-shadow: $bg_shadow;
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        
        &_item{
            @include col(); 
            @include size(24);
            position: relative;
        }
    }

    .position{
        position: absolute;
        right: 0;
        text-align: right;
        z-index: 5;

        .mark{
            color: $blue;
        }
    }

    &_img{
        position: relative;
        margin-top: rem(27);
        left: 0;
        display: block;
    }
}