.director{
    // background-color: $bg_dark;
    // box-shadow: $bg_shadow;

    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        
        &_item{
            @include col(); 
            @include size(24);
        }
    }

    &_paragr{
        letter-spacing: rem(-0.3);
        line-height: 1.5;
        &:not(:last-child){
            padding-bottom: rem(18);
        }
    }

    .title{
        margin-bottom: rem(21);
    }

    &_img{
        @include wrapper();
        padding: 0 !important;
        margin-top: rem(50);
        margin-bottom: rem(45);
    }

}