.fixed{
    background-color: $bg_dark;
    padding-top: rem(16);
    padding-bottom: rem(16);
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transition: all 0.5s;

    &.sticky{
        display: block;
    }

    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();

        &_item{
            @include col();
            @include size(24);
        }
    }

    button{

        overflow: hidden;
        &::before{
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            width: 50px;
            z-index: 1;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            animation-delay: 0.01s;
            animation-timing-function: ease-in-out;
            animation-name: radiance;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            opacity: 0.2;
        }

    }
}