.footer{
    box-shadow: inset 0 rem(8) rem(16) rgba(0, 0, 0, 0.3);
    background-color: $dark_grey;
    padding-top: rem(27);
    padding-bottom: rem(105);

    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();

        &_item{
            @include col();
            @include size(24);
        }
    }
    &_top{
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(27);
    }
    &_logo{
        margin-bottom: rem(36);
    }

    .round{
        box-shadow: rem(4) rem(4) rem(8) rgba(0, 0, 0, 0.3), 
                    rem(-4) rem(-4) rem(8) rgba(255, 255, 255, 0.15), 
                    inset rem(-1) rem(-1) 0 rgba(255, 255, 255, 0.15);
        background-color: $dark_grey;
        color: $light_grey;
    }

    .copy{
        color: $light_grey;
        font-size: rem(12);
        line-height: 2;
    }

    .xs-hidden{
        @include above($break_xs) {
            display: none;
        }
    }
    
}