.gift{
    text-align: center;
    background-image: url('../img/gift.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        
        &_item{
            @include col(); 
            @include size(24);

            .btn{
                margin-top: rem(300);
            }
        }
    }

}