@include resset();

.header{
    background-color: $bg_dark;
    box-shadow: $bg_shadow;
    overflow: hidden;
    padding-bottom: rem(54);
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();

        &_item{
            @include col();
            @include size(24);
        }
    }

    &_intro{
        font-size: rem(12);
        letter-spacing: rem(6);
        text-transform: uppercase;
    }
    &_title{
        font-size: rem(27);
        font-weight: 700;
        letter-spacing: rem(0.6);
        text-transform: uppercase;
        margin-top: rem(9);
        margin-bottom: rem(16);
    }
    &_action{
        letter-spacing: rem(-0.3);
    }
    &__calendar{
        margin-top: rem(14);
        margin-bottom: rem(27);
        position: relative;
        width: rem(96);
        &_img{

        }
        &_day{
            color: #f3fbff;
            font-size: rem(10);
            position: absolute;
            top: rem(15);
            left: 0;
            right: 0;
            text-align: center;
            text-transform: lowercase;
        }
        &_sale{
            color: $blue;
            font-size: rem(32);
            letter-spacing: rem(-0.4);
            position: absolute;
            top: rem(30);
            left: 0;
            right: 0;
            text-align: center;
        }
    }
    &_count{
        font-size: rem(16);
        margin-bottom: rem(12);
    }
    &_top{
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(16);
    }
    &_logo{
        margin-top: rem(13);
        margin-bottom: rem(13);
    }
    &_banner{
        padding-top: rem(16);
        position: relative;
        margin-bottom: rem(30);

        &::before{
            content: '';
            height: 100%;
            width: 60%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: rem(-16);
            background-image: url('./img/header_banner.png');
            background-size: auto 100%;
            background-repeat: no-repeat;
        }
    }

    .round{
        box-shadow: rem(4) rem(4) rem(8) rgba(88, 84, 82, 0.15), 
                    rem(-4) rem(-4) rem(8) rgba(255, 255, 255, 0.5), 
                    inset rem(-1) rem(-1) 0 rgba(255, 255, 255, 0.2);
        background-color: $bg_dark;

        &:last-child{
            background-color: $orange;
            color: #faf9f8;
            box-shadow: 4px 4px 8px rgba(192, 64, 0, 0.3), 
                        -4px -4px 8px rgba(255, 255, 255, 0.5), 
                        inset -1px -1px 0 rgba(255, 255, 255, 0.2);
        }
    }

    button{

        overflow: hidden;
        &::before{
            background: #fff;
            content: "";
            height: 155px;
            left: -75px;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            width: 50px;
            z-index: 1;
            transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            animation-delay: 0.01s;
            animation-timing-function: ease-in-out;
            animation-name: radiance;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            opacity: 0.2;
        }

    }
}

