.info{
    background-color: $bg_dark;
    box-shadow: $bg_shadow;
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        
        &_item{
            @include col(); 
            @include size(24);
        }
    }

    .block{
        margin-top: rem(27);
        display: flex;
        justify-content: space-between;

        &>div{
            @include size(11);
        }
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &_name{
            font-weight: 700;
            letter-spacing: rem(0.4);
            text-transform: uppercase;
        }
        &_eco{
            margin-top: rem(12);
            margin-bottom: rem(10);
            letter-spacing: rem(-0.3);
        }
        &_price{
            color: $blue;
            font-weight: 500;
            letter-spacing: rem(-0.2);
        }
    }

    .title{
        margin-bottom: rem(23);
    }
}

.squre{
    &__items{
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        display: flex;
        justify-content: center; 

        &_item{
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            box-shadow: 4px 4px 8px rgba(88, 84, 82, 0.15), -4px -4px 8px rgba(255, 255, 255, 0.5), inset -1px -1px 0 rgba(255, 255, 255, 0.2);
            border-radius: rem(9);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: rem(12);
            box-sizing: border-box;
        }
    }
}