.map{
    padding-top: rem(63);
    background-color: $bg_dark;
    box-shadow: $bg_shadow;
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        
        &_item{
            @include col();
            @include size(24);
        }
    }
    &__images{
        margin-top: rem(23);
        padding: 0 !important;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: rem(16);
            background: linear-gradient(180deg, rgba(0,0,0,0.1) 35%, rgba(0,0,0,0) 100%);
        }
        

        &_img{
            height: rem(540);
            width: rem(414);
            display: block;
            object-fit: cover;
            object-position: center;
            
        }
    }
}