.modal{

    &-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(242, 241, 240, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity .3s ease;
        box-sizing: border-box;
        padding-left: rem(8);
        padding-right: rem(8);
    }

    &-container {
        max-width: 414px;
        width: 100%;
        padding: rem(45) rem(18) rem(20) rem(18);
        background-color: $bg_light;
        border-radius: rem(9);
        box-shadow: rem(4) rem(4) rem(8) rgba(88, 84, 82, 0.1), 
                    rem(-4) rem(-4) rem(8) rgba(255, 255, 255, 0.5), 
                    inset rem(-1) rem(-1) 0 rgba(255, 255, 255, 0.2);
        transition: all .3s ease;
        position: relative;

        .input_name{
            display: block;
            margin-bottom: rem(18);
        }

        button{
            margin-top: rem(27);
            margin-bottom: rem(9);
            width: 100%;
            height: rem(54);
            box-shadow: rem(4) rem(4) rem(8) rgba(192, 64, 0, 0.25), 
                                    rem(-4) rem(-4) rem(8) #fffdfb, 
                                    inset rem(-1) rem(-1) 0 rgba(255, 255, 255, 0.2);
            background-color: $orange;
            border-radius: rem(28);
            background-color: $orange;
            color: #fff;
            letter-spacing: rem(-0.3);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .close_btn{
            letter-spacing: rem(-0.3);
            text-decoration: underline;
            line-height: rem(27);
            text-align: center;
            display: block;
        }

    }

    &-title{
        font-size: rem(23);
        font-weight: 700;
        letter-spacing: rem(0.6);
        margin-bottom: rem(9);
        text-transform: uppercase;

        &.isSended{
            text-align: center;
            margin-bottom: rem(18);
        }
    }

    &-intro{
        margin-bottom: rem(30);
        line-height: 1.5;

        &.isSended{
            text-align: center;
            margin-bottom: rem(25);
        }
    }

    &-marck{
        color: $blue;
    }

    &-alarm{
        font-size: rem(12);
        letter-spacing: rem(-0.1);
        line-height: 1.5;
        color: $middle_grey;
        opacity: 0.5;
    }

    //animation
    &-enter {
        opacity: 0;
    }

    &-leave-active {
        opacity: 0;
    }

    &-enter &-container,
    &-leave-active &-container {
        transform: scale(1.1);
    }
    //end animation



}