.portfolio{
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        
        &_item{
            @include col(); 
            @include size(24);
        }
    }

    .pagination{
        display: flex;
        justify-content: center;
    }
}

.portfolioSlider{
    padding-right: 0 !important;
    margin-top: rem(18);

    .swiper-slide:not(.swiper-slide-active){
        opacity: 0.5;
    }

    &__slide{
        width: rem(260);
        padding-bottom: rem(5);

        &_img{
            border-radius: rem(9);
            overflow: hidden;
            box-shadow: rem(4) rem(4) rem(4) rgba(88, 84, 82, 0.15),  
                        inset 0 0 rem(4) rgba(255, 255, 255, 1);
            img{
                width: 100%;
                height: rem(180);
                object-fit: cover;
                object-position: center;
                display: block;
                position: relative;
                
            }
        }
        
        &_text{
            box-shadow: rem(4) rem(4) rem(4) rgba(88, 84, 82, 0.15),  
                        inset 0 0 rem(4) rgba(255, 255, 255, 1);
            border-radius: rem(9);
            margin-top: rem(-20);
            padding: rem(47) rem(18) rem(18);
            position: relative;
            z-index: -1;
        }

        
    }

    .slide{
        &_name{
            font-size: rem(16);
            font-weight: 700;
            letter-spacing: rem(0.6);
            text-transform: uppercase;
        }
        &_price{
            color: $blue;
            font-size: rem(34);
            font-weight: 800;
            margin-top: rem(9);
            margin-bottom: rem(27);
            span{
                font-size: rem(26);
            }
        }
        &_area{
            font-size: rem(14);
            letter-spacing: rem(-0.1)
        }
    }

    
}