.reviews{
    background-color: $bg_dark;
    box-shadow: $bg_shadow;
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        
        &_item{
            @include col(); 
            @include size(24);
        }
    }

    .pagination{
        display: flex;
        justify-content: center;
    }

    .btn{
        background-color: $bg_dark;
    }

}

.reviewsSlider{
    padding-right: 0 !important;

    .swiper-slide:not(.swiper-slide-active){
        opacity: 0.5;
    }

    &__slide{
        width: rem(260);
        padding-top: rem(56);
        padding-bottom: rem(5);
        height: rem(415);
        
        &_text{
            box-shadow: rem(4) rem(4) rem(4) rgba(88, 84, 82, 0.15),  
                        inset 0 0 rem(4) rgba(255, 255, 255, 1);
            border-radius: rem(9);
            background-color: $bg_dark;
            padding: rem(14) rem(18) rem(27);
            position: relative;
            min-height: rem(215);
        }

        &_img{
            position: absolute;
            bottom: 0;
            z-index: -1;
            border-radius: rem(9);
            overflow: hidden;
            box-shadow: rem(4) rem(4) rem(4) rgba(88, 84, 82, 0.15),  
                        inset 0 0 rem(4) rgba(255, 255, 255, 1);
            img{
                width: 100%;
                height: rem(180);
                object-fit: cover;
                object-position: center;
                
                display: block;
                z-index: -1;
                position: relative;
                
            }
        }
    }

    .rev{
        &_data{
            font-size: rem(12);
            display: block;
        }
        &_name{
            font-weight: 700;
            letter-spacing: rem(0.4);
            text-transform: uppercase;
            margin-top: rem(30);
            margin-bottom: rem(7);
        }
        &_text{
            font-size: rem(14);
            letter-spacing: rem(-0.1);
            line-height: 1.5;
        }

        &_img{
            width: rem(82);
            height: rem(82);
            box-shadow: rem(4) rem(4) rem(8) rgba(88, 84, 82, 0.5);
            border: solid 3px $bg_dark;
            border-radius: rem(9);
            overflow: hidden;
            object-fit: cover;
            object-position: center;
            margin-top: rem(-70); 
            position: absolute;
        }

        &_info{
            display: flex;
            padding-left: rem(100);
            justify-content: space-between;
            align-items: center;
        }

        &_source{
            height: rem(18);
            width: rem(18);
        }
    }
}