.table{
    // box-shadow: $bg_shadow;
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        
        &_item{
            @include col(); 
            @include size(24);
        }
    }
}

.sliderTab{
    margin-top: rem(23);
    padding-right: 0 !important;

    &__items{
        display: flex;
        box-shadow: rem(4) rem(4) rem(8) rgba(88, 84, 82, 0.15), 
                    rem(-4) rem(-4) rem(8) rgba(255, 255, 255, 0.75), 
                    inset rem(-1) rem(-1) 0 rgba(255, 255, 255, 0.2);
        border-radius: rem(9);
        position: relative;
        
        &_item{
            background-color: $bg_light;
            width: 150px;
        }
    }

    .general{
        width: rem(146);
        border-radius: rem(9);
        box-shadow: rem(4) rem(4) rem(8) rgba(88, 84, 82, 0.15), 
                    rem(-4) rem(-4) rem(8) rgba(255, 255, 255, 0.75), 
                    inset rem(-1) rem(-1) 0 rgba(255, 255, 255, 0.2);
        flex-shrink: 0;
        z-index: 2;

        .row_eco{
            border-top-left-radius: rem(9);
            border-bottom-left-radius: rem(9);
            box-shadow: rem(4) rem(4) rem(8) rgba(32, 128, 191, 0.6), 
                        rem(-4) rem(-4) rem(8) rgba(248, 252, 255, 0.75), 
                        inset rem(-1) rem(-1) 0 rgba(255, 255, 255, 0.2);
            
        }
    }

    .row{
        height: rem(48);
        display: flex;
        align-items: center;
        padding-left: rem(9);
        letter-spacing: rem(-0.3);

        &_head{
            color:$blue;
            font-weight: 600;
            
        }
        &_eco{
            color: #fff;
            background-color: $blue;
            position: relative;
            
        }
        &_dark{
            background-color: $bg_dark;
        }
    }
}