/* jost-500 - latin_cyrillic */
@font-face {
	font-family: 'Jost';
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/jost-v1-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/jost-v1-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/jost-v1-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/jost-v1-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/jost-v1-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/jost-v1-latin_cyrillic-500.svg#Jost') format('svg'); /* Legacy iOS */
  }
  /* jost-regular - latin_cyrillic */
  @font-face {
	font-family: 'Jost';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/jost-v1-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/jost-v1-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/jost-v1-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/jost-v1-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/jost-v1-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/jost-v1-latin_cyrillic-regular.svg#Jost') format('svg'); /* Legacy iOS */
  }
  /* jost-700 - latin_cyrillic */
  @font-face {
	font-family: 'Jost';
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/jost-v1-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../fonts/jost-v1-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/jost-v1-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/jost-v1-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/jost-v1-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/jost-v1-latin_cyrillic-700.svg#Jost') format('svg'); /* Legacy iOS */
  }