body{
    font-family: $jost;
    color: $dark_grey;
    line-height: 1.2;
    font-size: rem(18);
    font-weight: 400;
    background-color: $bg_light;
}

.title{
    font-size: rem(23);
    font-weight: 700;
    letter-spacing: rem(0.6);
    text-transform: uppercase;

    @include above($break_xs) {
        font-size: rem(26);
    }
}

.subtitle{
    letter-spacing: rem(-0.3);
    padding-top: rem(18);
    padding-bottom: rem(48);
    line-height: 1.5;
    .mark{
      color: $blue;
    }
}

.section{
   padding-top: rem(63);
   padding-bottom: rem(54);
}



.input{
    height: rem(56);
    width: 100%;
    padding: 0 rem(18);
    border-radius: rem(28);
    border: none;
    box-sizing: border-box;
    outline: none;
    letter-spacing: rem(-0.3);
    background-color: #f2f1f0;
    -webkit-appearance: none;
    box-shadow: inset rem(4) rem(4) rem(8) rgba(88, 84, 82, 0.1), 
                inset rem(-4) rem(-4) rem(8) #ffffff;

    &::-webkit-input-placeholder {
        color: $middle_grey;
        font-size: rem(20);
    }
    &::-moz-placeholder{
        color: $middle_grey;
        font-size: rem(20);
    }
    &:-moz-placeholder{
        color: $middle_grey;
        font-size: rem(20);
    }
    &:-ms-input-placeholder{
        color: $middle_grey;
        font-size: rem(20);
    }

    &:disabled { 
        color: $middle_grey;
    }

    &_name{
        display: none;
    }
}

.input_btn{
  position: relative;
  .input{
      background-color: $bg_dark;
      box-shadow: inset rem(4) rem(4) rem(8) rgba(88, 84, 82, 0.15), 
                  inset rem(-4) rem(-4) rem(8) rgba(255, 255, 255, 0.5);
  }
  button{
      background-color: $orange;
      box-shadow: rem(4) rem(4) rem(8) rgba(192, 64, 0, 0.3), 
                  rem(-4) rem(-4) rem(8) rgba(255, 255, 255, 0.5), 
                  inset rem(-1) rem(-1) 0 rgba(255, 255, 255, 0.2);
      height: rem(38);
      color: #faf9f8;
      letter-spacing: rem(-0.3);
      padding-left: rem(22);
      padding-right: rem(22);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border-radius: rem(20);
      top: rem(9);
      right: rem(9);
  }
}

button{
    border: none;
    font-size: inherit;
    outline: none;
    cursor: pointer;
}

.btn{
    width: 100%;
    height: rem(54);
    box-shadow: rem(4) rem(4) rem(8) rgba(88, 84, 82, 0.1), 
                rem(-4) rem(-4) rem(8) rgba(255, 255, 255, 0.5), 
                inset rem(-1) rem(-1) 0 rgba(255, 255, 255, 0.2);
    border-radius: rem(28);
    background-color: $orange;
    color: #faf9f8;
    letter-spacing: rem(-0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pulse{
    overflow: hidden;
    position: relative;
    &::before{
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        width: 50px;
        z-index: 1;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        animation-delay: 0.01s;
        animation-timing-function: ease-in-out;
        animation-name: radiance;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        opacity: 0.2;
    }
}

@-webkit-keyframes radiance {
    0% {
      left: -30px;
      margin-left: 0px;
    }

    30% {
      left: 110%;
      margin-left: 80px;
    }

    100% {
      left: 110%;
      margin-left: 80px;
    }
}

@keyframes radiance {
    0% {
      left: -30px;
      margin-left: 0px;
    }

    30% {
      left: 110%;
      margin-left: 80px;
    }

    100% {
      left: 110%;
      margin-left: 80px;
    }
}

.close{
    position: absolute;
    height: rem(20);
    right: rem(15);
    top: rem(15);
    z-index: 10;
    cursor: pointer;
    transition: all .33s ease-in;

    &:hover{
        transform: rotate(90deg);
    }
}

.round{
  border-radius: rem(22);
  letter-spacing: rem(-0.3);
  height: rem(45);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 rem(14);
  width: 100%;

  &:first-child{
      margin-right: rem(14);
      flex-basis: 90%;
  }
}


