.vue-slider{
    width: calc(100% - 40px) !important;
}
/* rail style */
.vue-slider-rail {
    height: 12px !important;
    position: relative;

    &::before{
        content: '';
        height: 100%;
        width: calc(100% + 40px);
        position: absolute;
        left: -20px;
        box-shadow: inset 4px 4px 8px rgba(88, 84, 82, 0.1), inset -4px -4px 8px #ffffff;
        border-radius: rem(10);
        background-color: $bg_light;
    }
}
  
/* process style */
.vue-slider-process {

    height: rem(2) !important;
    bottom: 0;
    margin: auto;
    left: 4px !important;

    &::before{
        content: '';
        height: 100%;
        width: calc(100%);
        position: absolute;
        left: -20px;
        box-shadow: 0 0 rem(4) #30aaff;
        border-radius: rem(10);
        background-color: rgba(168, 224, 255, 0.75);
    }
}
  
/* dot style */
.vue-slider-dot-handle {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(192, 64, 0, 0.4), inset -1px -1px 1px rgba(255, 255, 255, 0.2);
    border: solid rem(13) $orange;
    box-sizing: border-box;
}

.vue-slider-dot {
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    z-index: 5;
}

.vue-slider-dot-tooltip-text{
    display: block;
    font-size: rem(24);
    white-space: nowrap;
    text-align: center;
    color: $blue;
    letter-spacing: rem(-0.4);
}

 