<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/app_front.css">
</head>
<body>

    <div id="app">
        <section class="header" ref="infoBox">
            <div class="header__wrapper">
                <div class="header__items">
                    <img src="img/logo.svg" alt="logo" class="header__items_item header_logo">
                </div>
                <div class="header__items">
                    <div class="header__items_item header_top">
                        <div class="round">Москва и МО</div>
                        <a href="" class="round">8 999 651-6666</a>
                    </div>
                </div>
                <div class="header__items header_banner">
                    <div class="header__items_item header_center">
                        <p class="header_intro">за 1 день</p>
                        <h1 class="header_title">Натяжной <br>потолок</h1>
                        <p class="header_action">Только сегодня <br>ваша скидка</p>
                        <div class="header__calendar">
                            <img src="img/calendar.svg" alt="calendar" class="header__calendar_img">
                            <p class="header__calendar_day">понедельник</p>
                            <p class="header__calendar_sale">38%</p>
                        </div>
                        <p class="header_count">Осталось <span class="count">13</span> замеров. <br>Успейте записаться!</p>
                    </div>
                </div>
                <div class="header__items header_form">
                    <div class="header__items_item">
                        <form class="input_btn" @submit="submitForm">
                            <input type="hidden" name="tag" value="Главный баннер">
                            <div>
                                <masked-input 
                                    type="tel" 
                                    autocomplete="off" 
                                    required
                                    v-model="phoneclear"
                                    placeholder="Введите ваш номер*"
                                    mask="\+\7 (111) 111-11-11"
                                    @input="phone = arguments[1]"
                                    class="input"
                                    />
                            </div>
                            <button :disabled="!isPhoneValid" >Записаться</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="calc section">
            <div class="calc__wrapper">
                <div class="calc__items">
                    <div class="calc__items_item">
                        <h2 class="title">Рассчёт стоимости</h2>
                        <p class="subtitle">Расчёт стоимости натяжного потолка <span class="mark">по акции.</span> Для точного расчёта необходимо произвести замер!</p>
                    </div>
                    <div class="calc__items_item">
                        <div class="calc_title">Площадь помещения</div>
                        <div class="calc_range">
                            <vue-range-slider ref="slider" v-model="area" :min="1" :max="150" :height="12" :dot-size="40"></vue-range-slider>
                        </div>
                        <div class="calc_title">Количество светильников</div>
                        <div class="calc_range">
                            <vue-range-slider ref="slider" v-model="lamps" :min="0" :max="30" :height="12" :dot-size="40"></vue-range-slider>
                        </div>
                        <div class="calc_title">Цена с установкой, рублей!</div>
                        <div class="calc_price">{{totlaPrice}}</div>
                        <span class="calc_link">Не устроила цена?</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="map">
            <div class="map__wrapper">
                <div class="map__items">
                    <div class="map__items_item">
                        <h2 class="title">Офисы завода во всех районах Москвы и МО</h2>
                    </div>
                </div>
            </div>
            <div class="map__wrapper map__images">
                <picture>
                    <source type="image/webp" srcset="/img/map.webp">
                    <img src="/img/map.jpg" alt="map" class="map__images_img">
                </picture>
            </div>
        </section>

        <section class="table section">
            <div class="table__wrapper">
                <div class="table__items">
                    <div class="table__items_item">
                        <h2 class="title">Сравнение цен</h2>
                    </div>
                </div>
            </div>

            <div class="table__wrapper sliderTab">
                <div class="sliderTab__items">
                    <div class="sliderTab__items_item general">
                        <div class="row row_head">Продавец</div>
                        <div class="row row_eco">Эконом Потолок</div>
                        <div class="row row_dark">Дилеры</div>
                        <div class="row row_light">Перекупщики</div>
                        <div class="row row_dark">Частники</div>
                        <div class="row row_light">Супер-бренды</div>
                    </div>
                    <swiper :options="swiperTable">
                        <swiper-slide>
                            <div class="sliderTab__items_item">
                                <div class="row row_head">Полотно</div>
                                <div class="row row_eco">93 руб.</div>
                                <div class="row row_dark">250 руб.</div>
                                <div class="row row_light">300 руб.</div>
                                <div class="row row_dark">180 руб.</div>
                                <div class="row row_light">500 руб.</div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="sliderTab__items_item">
                                <div class="row row_head">Установка</div>
                                <div class="row row_eco">338 руб.</div>
                                <div class="row row_dark">550 руб.</div>
                                <div class="row row_light">600 руб.</div>
                                <div class="row row_dark">450 руб.</div>
                                <div class="row row_light">1100 руб.</div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="sliderTab__items_item">
                                <div class="row row_head">Срок</div>
                                <div class="row row_eco">1 день</div>
                                <div class="row row_dark">2 дня</div>
                                <div class="row row_light">6 дней</div>
                                <div class="row row_dark">10 дней</div>
                                <div class="row row_light">3 дня</div>
                            </div>
                        </swiper-slide>
                    </swiper>
                </div>
                <div class="swiper-pagination" id="pagination-tab" slot="pagination"></div>
            </div>
        </section>

        <section class="info section">
            <div class="info__wrapper">
                <div class="info__items">
                    <div class="info__items_item">
                        <h2 class="title">Почему так дёшево? Не нужно переплачивать!</h2>
                    </div>
                </div>
                <div class="info__items block">
                    <div class="info__items_item squre">
                        <div class="squre__items">
                            <div class="squre__items_item">
                                <img src="img/info_1.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="info__items_item text">
                        <div class="text_name">За псевдо-бренды</div>
                        <div class="text_eco">Экономия</div>
                        <div class="text_price">1 500 р.</div>
                    </div>
                </div>
                <div class="info__items block">
                    <div class="info__items_item text">
                        <div class="text_name">За лишние работы</div>
                        <div class="text_eco">Экономия</div>
                        <div class="text_price">2 250 р.</div>
                    </div>
                    <div class="info__items_item squre">
                        <div class="squre__items">
                            <div class="squre__items_item">
                                <img src="img/info_2.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info__items block">
                    <div class="info__items_item squre">
                        <div class="squre__items">
                            <div class="squre__items_item">
                                <img src="img/info_3.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="info__items_item text">
                        <div class="text_name">За ненужные функции</div>
                        <div class="text_eco">Экономия</div>
                        <div class="text_price">950 р.</div>
                    </div>
                </div>
                <div class="info__items block">
                    <div class="info__items_item text">
                        <div class="text_name">За доп материалы</div>
                        <div class="text_eco">Экономия</div>
                        <div class="text_price">1 700 р.</div>
                    </div>
                    <div class="info__items_item squre">
                        <div class="squre__items">
                            <div class="squre__items_item">
                                <img src="img/info_4.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cheaper">
            <div class="cheaper__wrapper">
                <div class="cheaper__items">
                    <div class="cheaper__items_item">
                        <div class="position">
                            <h2 class="title">Нашли <br>дешевле?</h2>
                            <p class="subtitle">Вернем <span class="mark">500 рублей</span> <br>от цены конкурента!</p>
                        </div>
                        <picture>
                            <source type="image/webp" srcset="/img/cheaper.webp">
                            <img src="/img/cheaper.png" alt="cheaper" class="cheaper_img">
                        </picture>
                    </div>
                </div>
            </div>
        </section>

        <section class="compute section">
            <div class="compute__wrapper">
                <div class="compute__items">
                    <div class="compute__items_item">
                        <h2 class="title position">Рассчитаю<br> ваш потолок<br> <span class="mark">за 5 минут</span></h2>
                        <picture>
                            <source type="image/webp" srcset="/img/compute.webp">
                            <img src="/img/compute.png" alt="compute" class="compute_img">
                        </picture>
                    </div>
                </div>
                <div class="compute__items compute_form">
                    <div class="compute__items_item">
                        <form action="" class="input_btn">
                            <input type="tel" class="input" placeholder="Ваш телефон">
                            <button class="btn_">Расчитать</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="gift section">
            <div class="gift__wrapper">
                <div class="gift__items">
                    <div class="gift__items_item">
                        <h2 class="title">Получить подарок от завода!</h2>
                        <p class="subtitle">Пройдите тест за <span class="mark">30 секунд</span> и получите расчёт натяжного потолка и полезный подарок!</p>
                        <picture>
                            <source type="image/webp" srcset="/img/gift.webp">
                            <img src="/img/compute.png" alt="gift" class="gift_img">
                        </picture>
                        <button class="btn">Получить подарок</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="reviews section">
            <div class="reviews__wrapper">
                <div class="reviews__items">
                    <div class="reviews__items_item">
                        <h2 class="title">Честные отзывы</h2>
                        <p class="subtitle">Тут можно упомянуть о том, что все отзывы можно проверить, написав человеку в социальную сеть</p>
                    </div>
                </div>
            </div>
            <div class="reviews__wrapper reviewsSlider">
                <swiper :options="swiperReviews">
                    <swiper-slide>
                        <div class="reviewsSlider__slide">
                            <div class="reviewsSlider__slide_text rev">
                                <img src="/img/piople.jpg" alt="" class="rev_img">
                                <span class="rev_data">20 августа 2019</span>
                                <p class="rev_name">Руслан Александ...</p>
                                <p class="rev_text">Делали потолки сразу во всём коттедже. Понравилось всё! Сделали качественно, сразу видно, работали профессионалы…</p>
                            </div>
                            <div class="reviewsSlider__slide_img">
                                <img src="/img/slide.jpg" alt="">
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="reviewsSlider__slide">
                            <div class="reviewsSlider__slide_text rev">
                                <img src="/img/piople.jpg" alt="" class="rev_img">
                                <span class="rev_data">20 августа 2019</span>
                                <p class="rev_name">Руслан Александ...</p>
                                <p class="rev_text">Делали потолки сразу во всём коттедже. Понравилось всё! Сделали качественно, сразу видно, работали профессионалы…</p>
                            </div>
                            <div class="reviewsSlider__slide_img">
                                <img src="/img/slide.jpg" alt="">
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="reviewsSlider__slide">
                            <div class="reviewsSlider__slide_text rev">
                                <img src="/img/piople.jpg" alt="" class="rev_img">
                                <span class="rev_data">20 августа 2019</span>
                                <p class="rev_name">Руслан Александ...</p>
                                <p class="rev_text">Делали потолки сразу во всём коттедже. Понравилось всё! Сделали качественно, сразу видно, работали профессионалы…</p>
                            </div>
                            <div class="reviewsSlider__slide_img">
                                <img src="/img/slide.jpg" alt="">
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="reviewsSlider__slide">
                            <div class="reviewsSlider__slide_text rev">
                                <img src="/img/piople.jpg" alt="" class="rev_img">
                                <span class="rev_data">20 августа 2019</span>
                                <p class="rev_name">Руслан Александ...</p>
                                <p class="rev_text">Делали потолки сразу во всём коттедже. Понравилось всё! Сделали качественно, сразу видно, работали профессионалы…</p>
                            </div>
                            <div class="reviewsSlider__slide_img">
                                <img src="/img/slide.jpg" alt="">
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="reviewsSlider__slide">
                            <div class="reviewsSlider__slide_text rev">
                                <img src="/img/piople.jpg" alt="" class="rev_img">
                                <span class="rev_data">20 августа 2019</span>
                                <p class="rev_name">Руслан Александ...</p>
                                <p class="rev_text">Делали потолки сразу во всём коттедже. Понравилось всё! Сделали качественно, сразу видно, работали профессионалы…</p>
                            </div>
                            <div class="reviewsSlider__slide_img">
                                <img src="/img/slide.jpg" alt="">
                            </div>
                        </div>
                    </swiper-slide>
                </swiper>
            </div>
            <div class="reviews__wrapper">
                <div class="reviews__items">
                    <div class="reviews__items_item pagination">
                        <div class="swiper-pagination" id="pagination-rev" slot="pagination"></div>
                    </div>
                    <div class="reviews__items_item">
                        <button class="btn">Оставить отзыв</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="portfolio section">
            <div class="portfolio__wrapper">
                <div class="portfolio__items">
                    <div class="portfolio__items_item">
                        <h2 class="title">Наши работы</h2>
                    </div>
                </div>
            </div>

            <div class="portfolio__wrapper portfolioSlider">
                <swiper :options="swiperPortfolio">
                    <swiper-slide>
                        <div class="portfolioSlider__slide">
                            <div class="portfolioSlider__slide_img">
                                <img src="/img/portfol.jpg" alt="">
                            </div>
                            <div class="portfolioSlider__slide_text slide">
                                <p class="slide_name">Глянцевый</p>
                                <p class="slide_price">75 200 <span>руб.</span></p>
                                <p class="slide_area">12,4 м2</p>
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="portfolioSlider__slide">
                            <div class="portfolioSlider__slide_img">
                                <img src="/img/portfol.jpg" alt="">
                            </div>
                            <div class="portfolioSlider__slide_text slide">
                                <p class="slide_name">Глянцевый</p>
                                <p class="slide_price">75 200 <span>руб.</span></p>
                                <p class="slide_area">12,4 м2</p>
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="portfolioSlider__slide">
                            <div class="portfolioSlider__slide_img">
                                <img src="/img/portfol.jpg" alt="">
                            </div>
                            <div class="portfolioSlider__slide_text slide">
                                <p class="slide_name">Глянцевый</p>
                                <p class="slide_price">75 200 <span>руб.</span></p>
                                <p class="slide_area">12,4 м2</p>
                            </div>
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="portfolioSlider__slide">
                            <div class="portfolioSlider__slide_img">
                                <img src="/img/portfol.jpg" alt="">
                            </div>
                            <div class="portfolioSlider__slide_text slide">
                                <p class="slide_name">Глянцевый</p>
                                <p class="slide_price">75 200 <span>руб.</span></p>
                                <p class="slide_area">12,4 м2</p>
                            </div>
                        </div>
                    </swiper-slide>
                   
                </swiper>
            </div>
            <div class="portfolio__wrapper">
                <div class="portfolio__items">
                    <div class="portfolio__items_item pagination">
                        <div class="swiper-pagination" id="pagination-portfol" slot="pagination"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="director section">
            <div class="director__wrapper">
                <div class="director__items">
                    <div class="director__items_item">
                        <h2 class="title">Директор завода всегда на связи</h2>
                        <p class="director_paragr">Я лично контролирую все этапы работы с нашими клиентами и отвечаю за качество обслуживания.</p>
                        <p class="director_paragr">Прямая линия обеспечивает ответственную работу каждого сотрудника в компании. Считаю это важным плюсом для наших клиентов.</p>
                    </div>
                </div>
            </div>
            <div class="director_img">
                <picture>
                    <source type="image/webp" srcset="/img/director.webp">
                    <img src="/img/director.png" alt="director">
                </picture>
            </div>
            <div class="director__wrapper">
                <div class="director__items">
                    <div class="director__items_item">
                        <a href="" class="btn">8 999 651-6666</a>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__wrapper">
                <div class="footer__items">
                    <img src="img/logo_footer.svg" alt="logo" class="footer__items_item footer_logo">
                </div>
                <div class="footer__items">
                    <div class="footer__items_item footer_top">
                        <div class="round">Москва и МО</div>
                        <a href="" class="round">8 999 651-6666</a>
                    </div>
                    <div class="footer__items_item">
                        <p class="copy">2003-2020 © ООО «Эконом Потолок». <br>Все права защищены.</p>
                    </div>
                </div>
            </div>
        </footer>

        <div class="fixed" :class="{sticky}" v-scroll="fixedMenu">
            <div class="fixed__wrapper">
                <div class="fixed__items">
                    <div class="fixed__items_item">
                        <form action="" class="input_btn">
                            <input type="tel" class="input" placeholder="Ваш телефон">
                            <button class="btn_">Записаться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
   
<script src="js/app_front.js"></script>
</body>
</html>
