<template>
    <div>
        <section class="header" ref="infoBox">
            <div class="header__wrapper">
                <div class="header__items">
                    <img src="img/logo.svg" alt="logo" loading="lazy" class="header__items_item header_logo">
                </div>
                <div class="header__items">
                    <div class="header__items_item header_top">
                        <div class="round">{{city.name}}</div>
                        <a href="tel:88005119715" class="round">8 800 511-97-15</a>
                    </div>
                </div>
                <div class="header__items header_banner">
                    <div class="header__items_item header_center">
                        <p class="header_intro">за 1 день</p>
                        <h1 class="header_title">Натяжные <br>потолки</h1>
                        <p class="header_action">Только сегодня <br>ваша скидка</p>
                        <div class="header__calendar">
                            <img src="img/calendar.svg" alt="calendar" loading="lazy" class="header__calendar_img">
                            <p class="header__calendar_day">{{ getDay }}</p>
                            <p class="header__calendar_sale">38%</p>
                        </div>
                        <p class="header_count">Осталось <span class="count">13</span> замеров. <br>Успейте записаться!</p>
                    </div>
                </div>
                <div class="header__items header_form">
                    <div class="header__items_item">
                        <form-component rev="input_btn" button="Записаться" tag="Главный баннер"></form-component>
                    </div>
                </div>
            </div>
        </section>

        <calc-component></calc-component>      

        <section class="map" v-if="city.url === 'москва'">
            <div class="map__wrapper">
                <div class="map__items">
                    <div class="map__items_item">
                        <h2 class="title">Офисы завода во всех районах Москвы и МО</h2>
                    </div>
                </div>
            </div>
            <div class="map__wrapper map__images">
                <picture>
                    <source type="image/webp" srcset="/img/map.webp">
                    <img src="/img/map.jpg" alt="map" loading="lazy" class="map__images_img">
                </picture>
            </div>
        </section>

        <section class="table section">
            <div class="table__wrapper">
                <div class="table__items">
                    <div class="table__items_item">
                        <h2 class="title">Сравнение цен</h2>
                    </div>
                </div>
            </div>

            <div class="table__wrapper sliderTab">
                <div class="sliderTab__items">
                    <div class="sliderTab__items_item general">
                        <div class="row row_head">Продавец</div>
                        <div class="row row_eco">Эконом Потолок</div>
                        <div class="row row_light">Частники</div>
                        <div class="row row_dark">Дилеры</div>
                        <div class="row row_light">Перекупщики</div>
                        <div class="row row_dark">Супер-бренды</div>
                    </div>
                    <swiper :options="swiperTable">
                        <swiper-slide>
                            <div class="sliderTab__items_item">
                                <div class="row row_head">Полотно</div>
                                <div class="row row_eco">93 руб.</div>
                                <div class="row row_light">180 руб.</div>
                                <div class="row row_dark">250 руб.</div>
                                <div class="row row_light">300 руб.</div>
                                <div class="row row_dark">500 руб.</div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="sliderTab__items_item">
                                <div class="row row_head">Установка</div>
                                <div class="row row_eco">338 руб.</div>
                                <div class="row row_light">450 руб.</div>
                                <div class="row row_dark">550 руб.</div>
                                <div class="row row_light">600 руб.</div>
                                <div class="row row_dark">1100 руб.</div>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="sliderTab__items_item">
                                <div class="row row_head">Срок</div>
                                <div class="row row_eco">1 день</div>
                                <div class="row row_light">10 дней</div>
                                <div class="row row_dark">2 дня</div>
                                <div class="row row_light">6 дней</div>
                                <div class="row row_dark">3 дня</div>
                            </div>
                        </swiper-slide>
                    </swiper>
                </div>
                <div class="swiper-pagination" id="pagination-tab" slot="pagination"></div>
            </div>
        </section>

        <section class="info section">
            <div class="info__wrapper">
                <div class="info__items">
                    <div class="info__items_item">
                        <h2 class="title">Почему так дёшево? Не нужно переплачивать!</h2>
                    </div>
                </div>
                <div class="info__items block">
                    <div class="info__items_item squre">
                        <div class="squre__items">
                            <div class="squre__items_item">
                                <img src="img/info_1.svg" loading="lazy" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="info__items_item text">
                        <div class="text_name">За псевдо-бренды</div>
                        <div class="text_eco">Экономия</div>
                        <div class="text_price">1 500 р.</div>
                    </div>
                </div>
                <div class="info__items block">
                    <div class="info__items_item text">
                        <div class="text_name">За лишние работы</div>
                        <div class="text_eco">Экономия</div>
                        <div class="text_price">2 250 р.</div>
                    </div>
                    <div class="info__items_item squre">
                        <div class="squre__items">
                            <div class="squre__items_item">
                                <img src="img/info_2.svg" loading="lazy" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info__items block">
                    <div class="info__items_item squre">
                        <div class="squre__items">
                            <div class="squre__items_item">
                                <img src="img/info_3.svg" loading="lazy" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="info__items_item text">
                        <div class="text_name">За ненужные функции</div>
                        <div class="text_eco">Экономия</div>
                        <div class="text_price">950 р.</div>
                    </div>
                </div>
                <div class="info__items block">
                    <div class="info__items_item text">
                        <div class="text_name">За доп материалы</div>
                        <div class="text_eco">Экономия</div>
                        <div class="text_price">1 700 р.</div>
                    </div>
                    <div class="info__items_item squre">
                        <div class="squre__items">
                            <div class="squre__items_item">
                                <img src="img/info_4.svg" loading="lazy" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cheaper">
            <div class="cheaper__wrapper">
                <div class="cheaper__items">
                    <div class="cheaper__items_item">
                        <div class="position">
                            <h2 class="title">Нашли <br>дешевле?</h2>
                            <p class="subtitle">Вернем <span class="mark">500&nbsp;рублей</span> <br>от&nbsp;цены конкурента!</p>
                        </div>
                        <picture>
                            <source type="image/webp" srcset="/img/cheaper.webp">
                            <img src="/img/cheaper.png" alt="cheaper" loading="lazy" class="cheaper_img">
                        </picture>
                    </div>
                </div>
            </div>
        </section>

        <section class="compute section" ref="compute">
            <div class="compute__wrapper">
                <div class="compute__items">
                    <div class="compute__items_item">
                        <h2 class="title position">Рассчитаю<br> ваш потолок<br> <span class="mark">за&nbsp;5&nbsp;минут</span></h2>
                        <picture>
                            <source type="image/webp" srcset="/img/compute.webp">
                            <img src="/img/compute.png" alt="compute" loading="lazy" class="compute_img">
                        </picture>
                    </div>
                </div>
                <div class="compute__items compute_form">
                    <div class="compute__items_item">
                        <form-component rev="input_btn" button="Рассчитать" tag="Рассчитать"></form-component>
                    </div>
                </div>
            </div>
        </section>

        <section class="gift section">
            <div class="gift__wrapper">
                <div class="gift__items">
                    <div class="gift__items_item">
                        <h2 class="title">Получить подарок от&nbsp;завода!</h2>
                        <p class="subtitle">Пройдите тест за <span class="mark">30 секунд</span> и&nbsp;получите расчёт натяжного потолка и&nbsp;полезный подарок!</p>
                        <!-- <picture>
                            <source type="image/webp" srcset="/img/gift.webp">
                            <img src="/img/compute.png" alt="gift" class="gift_img">
                        </picture> -->
                        <button class="btn" @click="openFormModal('gift')">Получить подарок</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="reviews section">
            <div class="reviews__wrapper">
                <div class="reviews__items">
                    <div class="reviews__items_item">
                        <h2 class="title">Честные отзывы</h2>
                        <p class="subtitle">Мы дорожим каждым нашим клиентом и&nbsp;ваши отзывы важны для&nbsp;нас</p>
                    </div>
                </div>
            </div>
            <div class="reviews__wrapper reviewsSlider" v-if="reviews.length > 0">
                <swiper :options="swiperReviews">
                    <swiper-slide v-for="review in reviews" :key="review.id">
                        <div class="reviewsSlider__slide">
                            <div class="reviewsSlider__slide_text rev">
                                <img :src="'images/small/'+review.avatar" loading="lazy" class="rev_img">
                                <div class="rev_info">
                                    <span class="rev_data">{{review.date}}</span>
                                    <svg v-if="review.source" class="rev_source">
                                        <use :xlink:href="'#'+review.source"></use>
                                    </svg>
                                </div>
                                <p class="rev_name">{{review.name}}</p>
                                <p class="rev_text">{{review.text}}</p>
                            </div>
                            <div class="reviewsSlider__slide_img">
                                <img :data-src="'images/small/'+review.images" loading="lazy" class="swiper-lazy">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                        </div>
                    </swiper-slide>
                </swiper>
            </div>
            <div class="reviews__wrapper">
                <div class="reviews__items">
                    <div class="reviews__items_item pagination">
                        <div class="swiper-pagination" id="pagination-rev" slot="pagination"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="director section">
            <div class="director__wrapper">
                <div class="director__items">
                    <div class="director__items_item">
                        <h2 class="title">Директор завода всегда на связи</h2>
                        <p class="director_paragr">Я лично контролирую все этапы работы с&nbsp;нашими клиентами и&nbsp;отвечаю за&nbsp;качество обслуживания.</p>
                        <p class="director_paragr">Прямая линия обеспечивает ответственную работу каждого сотрудника в&nbsp;компании. Считаю это важным плюсом для наших клиентов.</p>
                    </div>
                </div>
            </div>
            <div class="director_img">
                <picture>
                    <source type="image/webp" srcset="/img/director.webp">
                    <img src="/img/director.jpg" loading="lazy" alt="director">
                </picture>
            </div>
            <div class="director__wrapper">
                <div class="director__items">
                    <div class="director__items_item">
                        <a href="tel:89247301600" class="btn">8 924 730-16-00</a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer__wrapper">
                <div class="footer__items">
                    <img src="img/logo_footer.svg" alt="logo" loading="lazy" class="footer__items_item footer_logo">
                </div>
                <div class="footer__items">
                    <div class="footer__items_item footer_top">
                        <div class="round">{{city.name}}</div>
                        <a href="tel:88005119715" class="round">8 800 511-97-15</a>
                    </div>
                    <div class="footer__items_item">
                        <p class="copy">2003-2020 © ООО «Эконом Потолок». <br class="xs-hidden">Все права защищены.</p>
                    </div>
                </div>
            </div>
        </footer>

        <div class="fixed" :class="{sticky}" v-scroll="fixedMenu">
            <div class="fixed__wrapper">
                <div class="fixed__items">
                    <div class="fixed__items_item">
                        <form-component rev="input_btn" button="Записаться" tag="Фиксированная форма"></form-component>
                    </div>
                </div>
            </div>
        </div>

        <modal v-if="formModal" @close="closeFormModal">
            <div slot="content">
                <template v-if="successSend">
                    <p class="modal-title" >Спасибо!</p>
                    <p class="modal-intro">Заявка отправлена, ожидайте звонка нашего специалиста</p>
                    <!-- <input type="text" class="input input_name" :value="nameSended" disabled placeholder="Ваше имя">
                    <input type="text" class="input" :value="phoneSended" disabled>
                    <button disabled>Заявка отправлена</button> -->
                    <span class="close_btn" @click="closeFormModal">Закрыть</span>
                </template>
                <template v-else>
                    <template v-if="gift">
                        <p class="modal-title">Оставить заявку</p>
                        <p class="modal-intro">Оставьте заявку и&nbsp;наш специалист перезвонит вам <span class="modal-marck">в&nbsp;течение&nbsp;5&nbsp;минут</span></p>
                        <form-component button="Отправить заявку" tag="Всплывающая форма"></form-component>
                        <p class="modal-alarm">Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных</p>
                    </template> 
                    <template v-else>
                        <p class="modal-title">Сделаем дешевле!</p>
                        <p class="modal-intro">Оставьте заявку и&nbsp;вы получите индивидуальную скидку <span class="modal-marck">в&nbsp;течение&nbsp;5&nbsp;минут</span></p>
                        <form-component button="Получить скидку" tag="Получить скидку"></form-component>
                        <p class="modal-alarm">Оставляя контактную информацию, вы соглашаетесь на обработку персональных данных</p>
                    </template> 
                </template> 
            </div>
        </modal>

        <modal v-if="isSended" @close="isSendedAlert">
            <div slot="content">
                <p class="modal-title isSended">Вы уже отправляли заявку!</p>
                <p class="modal-intro isSended">В ближайшее время мы свяжемся с вами.</p>
            </div>
        </modal>
    </div>
</template>

<script>
    
    import VueAwesomeSwiper from 'vue-awesome-swiper'
    Vue.component('form-component', require('../components/Form.vue').default);
    Vue.component('calc-component', require('../components/Calc.vue').default);
    Vue.component('modal', require('../components/ModalForm.vue').default)
    Vue.use( VueAwesomeSwiper)
    import { mapGetters, mapActions } from 'vuex' 

    Vue.directive('scroll', {
        inserted: function(el, binding) {
        let f = function(evt) {
            if (binding.value(evt, el)) {
            window.removeEventListener('scroll', f);
            }
        };
        window.addEventListener('scroll', f);
        },
    });

    export default {
        data: function () {
            return {
                date: new Date().getDay(),
                sticky: false,
                swiperTable: {
                    slidesPerView: 'auto',
                    spaceBetween: 0,
                    pagination: {
                        el: '#pagination-tab',
                        clickable: true
                    }
                },
                swiperReviews: {
                    slidesPerView: 'auto',
                    spaceBetween: 18,
                    loop:  true,
                    lazy: {
                        loadPrevNext: true,
                    },
                    initialSlide: 2,
                    pagination: {
                        el: '#pagination-rev',
                        clickable: true,
                        dynamicBullets: true
                    }
                },
                isHideForm: false
            }
        },
        computed: {
            ...mapGetters([
                'reviews', 
                'city',
                'isSended', 
                'formModal',
                'successSend',
                'gift',
                'nameSended',
                'phoneSended'
            ]),
            getDay() {
                let days = [
                            'Воскресенье',
                            'Понедельник',
                            'Вторник',
                            'Среда',
                            'Четверг',
                            'Пятница',
                            'Суббота'
                            ]
                return days[this.date]
            },
            isPhoneValid() {
                return pattern.test(this.phone)
            }
        },
        methods: {
            ...mapActions([
                'isSendedAlert',
                'openFormModal',
                'closeFormModal'
            ]),
            fixedMenu(evt, el) {
                let hero = this.$refs.infoBox.clientHeight
                let computeStart = this.$refs.compute.offsetTop - this.$refs.compute.clientHeight
                let computeEnd = this.$refs.compute.offsetTop + this.$refs.compute.clientHeight

                if (window.scrollY > hero && window.scrollY < computeStart || window.scrollY > computeEnd) {
                    this.sticky = true
                }
                else{
                    this.sticky = false
                }
            }
        },
        async mounted() {
            await this.$store.dispatch('fetchReviews')
        }
    }

</script>