<template>
    <section class="calc section">
        <div class="calc__wrapper">
            <div class="calc__items">
                <div class="calc__items_item">
                    <h2 class="title">Расчёт стоимости</h2>
                    <p class="subtitle">Рассчитайте стоимость натяжного потолка <span class="mark">по акции</span> перемещая ползунки. Для точного расчёта необходимо произвести замер!</p>
                </div>
                <div class="calc__items_item">
                    <div class="calc_title">Площадь помещения</div>
                    <div class="calc_range">
                        <vue-slider
                            class="slider"
                            tooltip="always"
                            :min="1"
                            :max="150"
                            :step="1"
                            v-model="area"
                            :tooltip-formatter="lengthTooltip"
                            >
                        </vue-slider>               
                    </div>
                    <div class="calc_title">Количество светильников</div>
                    <div class="calc_range">
                        <vue-slider
                            class="slider"
                            tooltip="always"
                            :min="1"
                            :max="40"
                            :step="1"
                            v-model="lamps"
                            :tooltip-formatter="lengthTooltip"
                            >
                        </vue-slider>
                    </div>
                    <div class="calc_title">Цена с установкой, рублей</div>
                    <div class="calc_price">{{totlaPrice}}</div>
                    <span class="calc_link" @click="openFormModal">Не устроила цена?</span>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import VueSlider from 'vue-slider-component'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        data: function () {
            return {
                area: 20,
                lamps: 1,
                sliderValue: 50
            }
        },
        computed: {
            ...mapGetters([
                'formModal'
            ]),
            totlaPrice() {
                return this.area*450 + this.lamps*250
            }
        },
        methods: {
            ...mapActions([
                'openFormModal'
            ]),
            lengthTooltip: function (value) {
				return value + ' '; 
            }
        },
        components: {
            VueSlider
        }
    }
</script>