<template>
    <form :class="rev" @submit="submitForm">
        <input type="text" v-model="name" class="input input_name" placeholder="Ваше имя"/>
        <div>
            <masked-input 
                type="tel" 
                autocomplete="off" 
                required
                v-model="phoneclear"
                placeholder="Ваш телефон"
                :mask="{
                    pattern: '\+7 (V11) 111-11-11',
                    formatCharacters: {
                        'V': {
                            validate: char => /[9]/.test(char)
                        }, 
                    }, 
                }"
                @input="phone = arguments[1]"
                class="input"
                />
        </div>
        <button :disabled="!isPhoneValid">{{button}}</button>
    </form>
</template>

<script>
    import MaskedInput from 'vue-masked-input'
    import axios from 'axios'
    import VueCookie from 'vue-cookie'
    Vue.use(VueCookie)
    import { mapGetters, mapActions } from 'vuex'
    
    const pattern = /^[0-9]+$/;

    export default {
        data: function () {
            return {
                name: '',
                phone: '',
                phoneclear: ''
            }
        },
        props: ['button', 'tag', 'rev'],
        computed: {
            ...mapGetters([
                'isSended',
                'city',
                'successSend'
            ]),
            isPhoneValid() {
                return pattern.test(this.phone)
            }
        },
        methods: {
            ...mapActions([
                'isSendedAlert',
                'successSendForm',
                'openFormModal'
            ]),
            submitForm (e){
                e.preventDefault();

                if(Vue.cookie.get('form_send')){
                    this.isSendedAlert()
                    this.phoneclear = ''
                    this.name = ''
                }else{
                    fbq('track', 'Lead')
                    window.yaCounter48259676.reachGoal('form-sub')
                    ga.getAll()[0].send('event', 'forms', 'sub')
                    
                    axios.post('/leads', {
                        name: this.name,
                        phone: this.phone,
                        tag: this.tag,
                        bx_code: this.city.bx_code
                    }).then(response => (
                        this.successSendForm(),
                        this.$store.commit('updateNameSended', this.name),
                        this.$store.commit('updatePhoneSended', this.phoneclear),
                        this.openFormModal(),
                        Vue.cookie.set('form_send', true, 1),
                        this.phoneclear = '',
                        this.name = ''
                    ))

                }
            }
        },
        components: { 
            MaskedInput
        }
    }
</script>